<div class="row animated fadeIn fast">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <input type="text" 
                class="form-control" 
                placeholder="Search Hospitals"
                (keyup)="onChangeSearch(txtSearch.value)"
                #txtSearch>
      </div>
    </div>
  </div>
</div>

<div class="row animated fadeIn fast"
      *ngIf="loading">
  <div class="col-12">
    <div class="alert alert-info text-center">
      <h4 class="alert-heading">Loading</h4>
      <i class="fa fa-spin fa-refresh fa-2x"></i>
      <p class="mb-0">Please Waiting</p>
    </div>
  </div>
</div>

<div class="row animated fadeIn fast"
      *ngIf="!loading">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-8">
            <h4 class="card-title">Total Hospitals ({{totalHospitals}})</h4>
            <h6 class="card-subtitle">Register Hospitals</h6>
          </div>

          <div class="col">
            <div class="text-right">
              <button class="btn btn-primary"
                      (click)="createHospital()">
                <i class="fa fa-hospital-o"></i>
                Create Hospital
              </button>
            </div>
          </div>
        </div>
        
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Picture</th>
                <th>Name</th>
                <th class="text-nowrap">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of hospitals">
                <td class="text-center w100">
                  <img [src]="item.img | image:'hospitals'" 
                        alt="Picture"
                        class="avatar cursor"
                        (click)="openModal(item)">
                  <!-- {{item.img | image:'hospitals'}} -->
                </td>
                <td>
                  <input type="text" 
                          class="form-control"
                          placeholder="Hospital name"
                          [(ngModel)]="item.name">
                </td>

                <td class="text-nowrap w100 text-center">
                  <a class="cursor"
                      data-toggle="tooltip" 
                      data-original-title="Save Changes"
                      (click)="updateHospital(item)"> 
                      <i class="fa fa-pencil text-inverse m-r-10"></i> 
                  </a>
                  <a class="cursor"
                      data-toggle="tooltip" 
                      data-original-title="Delete"
                      (click)="deleteHospital(item)">
                      <i class="fa fa-close text-danger"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>

          <!-- <button class="btn btn-secondary">Before</button>
          &nbsp;
          <button class="btn btn-secondary">Next</button> -->
        </div>
      </div>
    </div>
  </div>
</div>