.fast{
  -webkit-animation-duration:0.3s;
  animation-duration:0.3s;
  -webkit-animation-fill-mode:both;
  animation-fill-mode:both
}

#themecolors .selector, .cursor {
  cursor: pointer;
}

#google-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

}

.img-avatar {
  width: 200px;
  height: 200px;
}

.w75 {
  width: 75px;
}

.h75 {
  height: 75px;
}

.w100 {
  width: 100px;
}

.h100 {
  height: 100px;
}

.w140 {
  width: 140px;
}

.avatar {
  border-radius: 100%;
  width: 30px;
}

.background-modal-image {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 9999;
}

.hide {
  display: none;
}